<template name="notificationsDropdownMenu">
        {{#if useDefaultTemplate}}
            <ul class="pull-right text-left user_panel">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-icons notification-button" title="Notifications" data-toggle="dropdown">
                        <span>
                            <i class="fa fa-globe"></i>
                        </span>
                        {{#if gt countUnread 0}}
                            <span class="notifications-counter">{{countUnread}}</span>
                        {{/if}}
                    </a>
                    {{> notificationContainer}}
                </li>
            </ul>
        {{else}}
            {{> Template.dynamic template=getNewDropdownMenuTemplate}}
        {{/if}}
</template>

<template name="notificationsLinkIcon">
        <ul class="pull-right text-left user_panel">
            <li>
                <a href="/notifications" class="dropdown-toggle navbar-icons notification-button" title="Notifications">
                    <span>
                        <i class="fa fa-globe"></i>
                    </span>
                    {{#if gt countUnread 0}}
                        <span class="notifications-counter">{{countUnread}}</span>
                    {{/if}}
                </a>
            </li>
        </ul>
</template>

<template name="notificationContainer">
    <div class="row uni-notifications-wrapper">
        <div class="notifications-header-title">Notifications</div>
        <div class="col-xs-12 uni-notifications-container">
            {{#each getNotifications}}
                {{> Template.dynamic template=getItemTemplate}}
            {{/each}}
            <div class="row">
                <div class="col-xs-12 text-center gray-background show-all-button">
                    <a href="/notifications" class="seledin-text">Show all</a>
                </div>
            </div>
        </div>
    </div>
</template>

