<template name="notificationDefaultItem">
    <div class="row uni-notifications-item-wrapper">
        <div class="col-xs-12 uni-notifications-item-container">
            <div class="inline-block">
                <img src="/img/160x160.gif" alt="" class="img-circle styled">
            </div>
            <div class="inline-block mls">
                <a href="{{getURL}}">
                    <strong>{{authorInfo.name}}</strong> commented <span class="notification-title">{{entityTitle}}</span>
                    <span class="time-created-label">{{formatingtime createdAt 'MMM DD, YYYY hh:mm'}}</span>
                </a>
            </div>
        </div>
    </div>
</template>