<template name="notificationListingHeader">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1>{{i18n 'notifications.listTitle'}}</h1>
        </div>
    </div>
</template>
<template name="notificationsListing">
    <div class="row notifications-listing">
        <div class="col-xs-12">
            {{#each notifications}}
                {{> uniDynamic getItemTemplate}}
            {{/each}}
        </div>
    </div>
</template>

